[package]
name = "mine_tunnel_aes_encryptor"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
aes = "0.7.5"
block-modes = "0.8.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
hex = "0.4"
